*.pdf
!unibw-eps-converted-to.pdf
*.exe
*.ps
.hermess.vpp.lck
*.bak_[0-9][0-9][0-9]*
*.bak_[0-9][0-9][0-9][a-fA-F]
*.bak*
## Ignore latex 
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
# TikZ & PGF
*.dpth
*.md5
*.auxlock
*.bak_000f
*.bak_001d
*.bak_*
.metadata/
.metadata/*
*.o 
*.xml
*.elf
makefile
*.xmi
*.list
*.mk
.cproject
.cproject_org
.mxproject
.project
.project_org
.prefs
*/.settings/*
/.settings/
/.settings/*
Kleinstgruppen.zip

*.DS_Store
STAMPTest/.metadata/.lock
STAMPTest/.metadata/.log4j.xml
STAMPTest/.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/1.2.0.201912201802
STAMPTest/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
STAMPTest/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
STAMPTest/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
STAMPTest/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
STAMPTest/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
STAMPTest/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
STAMPTest/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
STAMPTest/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
STAMPTest/.metadata/version.ini
STAMPTest/RemoteSystemsTempFiles/.project
STAMPTest/STAMPTEst/.cproject
STAMPTest/STAMPTEst/.mxproject
STAMPTest/STAMPTEst/.project
/.metadata/
/.metadata/*
*/.metadata/*
#Ignore html files
*.html
*.js
*.css
#ignore tex files
*.tex
*.dot
*.pdf
/Kleinstgruppen/
/Docu/