//
// Written by Synplify Pro 
// Product Version "Q-2020.03M-SP1"
// Program "Synplify Pro", Mapper "map202003act, Build 160R"
// Sat Feb 13 10:00:06 2021
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\j:\liberosoc\synplifypro\lib\vhd2008\std.vhd "
// file 1 "\j:\liberosoc\synplifypro\lib\vhd\snps_haps_pkg.vhd "
// file 2 "\j:\liberosoc\synplifypro\lib\vhd2008\std1164.vhd "
// file 3 "\j:\liberosoc\synplifypro\lib\vhd2008\std_textio.vhd "
// file 4 "\j:\liberosoc\synplifypro\lib\vhd2008\numeric.vhd "
// file 5 "\j:\liberosoc\synplifypro\lib\vhd\umr_capim.vhd "
// file 6 "\j:\liberosoc\synplifypro\lib\vhd2008\arith.vhd "
// file 7 "\j:\liberosoc\synplifypro\lib\vhd2008\unsigned.vhd "
// file 8 "\j:\liberosoc\synplifypro\lib\vhd\hyperents.vhd "
// file 9 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\hdl\stamp.vhd "
// file 10 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\directcore\coreapb3\4.1.100\rtl\vhdl\core\coreapb3_muxptob3.vhd "
// file 11 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\directcore\coreapb3\4.1.100\rtl\vhdl\core\coreapb3_iaddr_reg.vhd "
// file 12 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\directcore\coreresetp\7.1.100\rtl\vhdl\core\coreresetp_pcie_hotreset.vhd "
// file 13 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\work\sb_sb\ccc_0\sb_sb_ccc_0_fccc.vhd "
// file 14 "\j:\liberosoc\synplifypro\lib\generic\smartfusion2.vhd "
// file 15 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\sgcore\osc\2.0.101\osc_comps.vhd "
// file 16 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\work\sb_sb_mss\sb_sb_mss_syn.vhd "
// file 17 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\directcore\coreapb3\4.1.100\rtl\vhdl\core\components.vhd "
// file 18 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\directcore\coreapb3\4.1.100\rtl\vhdl\core\coreapb3.vhd "
// file 19 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\actel\directcore\coreresetp\7.1.100\rtl\vhdl\core\coreresetp.vhd "
// file 20 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\work\sb_sb\fabosc_0\sb_sb_fabosc_0_osc.vhd "
// file 21 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\work\sb_sb_mss\sb_sb_mss.vhd "
// file 22 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\work\sb_sb\sb_sb.vhd "
// file 23 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\component\work\sb\sb.vhd "
// file 24 "\j:\liberosoc\synplifypro\lib\nlconst.dat "
// file 25 "\c:\users\jl\source\repos\smartfusion2 tinker\hermess\designer\sb\synthesis.fdc "

`timescale 100 ps/100 ps
module sb_sb_CCC_0_FCCC (
  FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC,
  FIC_0_LOCK,
  FIC_0_CLK
)
;
input FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
output FIC_0_LOCK ;
output FIC_0_CLK ;
wire FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FIC_0_LOCK ;
wire FIC_0_CLK ;
wire [7:0] PRDATA;
wire GL0_net ;
wire Y0 ;
wire Y1 ;
wire Y2 ;
wire Y3 ;
wire BUSY ;
wire VCC ;
wire GND ;
wire GL1 ;
wire GL2 ;
wire GL3 ;
// @13:103
  CLKINT GL0_INST (
	.Y(FIC_0_CLK),
	.A(GL0_net)
);
//@22:504
// @13:106
  CCC CCC_INST (
	.Y0(Y0),
	.Y1(Y1),
	.Y2(Y2),
	.Y3(Y3),
	.PRDATA(PRDATA[7:0]),
	.LOCK(FIC_0_LOCK),
	.BUSY(BUSY),
	.CLK0(VCC),
	.CLK1(VCC),
	.CLK2(VCC),
	.CLK3(VCC),
	.NGMUX0_SEL(GND),
	.NGMUX1_SEL(GND),
	.NGMUX2_SEL(GND),
	.NGMUX3_SEL(GND),
	.NGMUX0_HOLD_N(VCC),
	.NGMUX1_HOLD_N(VCC),
	.NGMUX2_HOLD_N(VCC),
	.NGMUX3_HOLD_N(VCC),
	.NGMUX0_ARST_N(VCC),
	.NGMUX1_ARST_N(VCC),
	.NGMUX2_ARST_N(VCC),
	.NGMUX3_ARST_N(VCC),
	.PLL_BYPASS_N(VCC),
	.PLL_ARST_N(VCC),
	.PLL_POWERDOWN_N(VCC),
	.GPD0_ARST_N(VCC),
	.GPD1_ARST_N(VCC),
	.GPD2_ARST_N(VCC),
	.GPD3_ARST_N(VCC),
	.PRESET_N(GND),
	.PCLK(VCC),
	.PSEL(VCC),
	.PENABLE(VCC),
	.PWRITE(VCC),
	.PADDR({VCC, VCC, VCC, VCC, VCC, VCC}),
	.PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.CLK0_PAD(GND),
	.CLK1_PAD(GND),
	.CLK2_PAD(GND),
	.CLK3_PAD(GND),
	.GL0(GL0_net),
	.GL1(GL1),
	.GL2(GL2),
	.GL3(GL3),
	.RCOSC_25_50MHZ(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.RCOSC_1MHZ(GND),
	.XTLOSC(GND)
);
defparam CCC_INST.INIT=210'h0000007FB8000045174000318C6318C1F18C61EC0404040400101;
defparam CCC_INST.VCOFREQUENCY=800.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sb_sb_CCC_0_FCCC */

module COREAPB3_MUXPTOB3 (
  sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA,
  sb_sb_0_STAMP_PRDATA,
  iPSELS_raw_0,
  STAMP_PADDRS,
  iPRDATA_0_sqmuxa_i,
  N_8,
  sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx
)
;
output [31:0] sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA ;
input [31:0] sb_sb_0_STAMP_PRDATA ;
input iPSELS_raw_0 ;
input [15:12] STAMP_PADDRS ;
output iPRDATA_0_sqmuxa_i ;
output N_8 ;
input sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
wire iPSELS_raw_0 ;
wire iPRDATA_0_sqmuxa_i ;
wire N_8 ;
wire sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
wire [2:1] PSELSBUS;
wire N_5_i ;
wire PREADY_i_a2_0_Z ;
wire GND ;
wire VCC ;
// @10:90
  CFG2 g0_0 (
	.A(STAMP_PADDRS[15]),
	.B(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx),
	.Y(N_8)
);
defparam g0_0.INIT=4'hB;
// @10:140
  CFG4 g0 (
	.A(STAMP_PADDRS[14]),
	.B(N_8),
	.C(STAMP_PADDRS[12]),
	.D(STAMP_PADDRS[13]),
	.Y(N_5_i)
);
defparam g0.INIT=16'h1030;
// @10:140
  CFG2 PREADY_i_a2_0 (
	.A(PSELSBUS[1]),
	.B(PSELSBUS[2]),
	.Y(PREADY_i_a2_0_Z)
);
defparam PREADY_i_a2_0.INIT=4'h1;
// @10:88
  CFG3 \PSELSBUS_0_a2[2]  (
	.A(STAMP_PADDRS[14]),
	.B(N_8),
	.C(STAMP_PADDRS[13]),
	.Y(PSELSBUS[2])
);
defparam \PSELSBUS_0_a2[2] .INIT=8'h02;
// @10:89
  CFG3 \PSELSBUS_0_a2[1]  (
	.A(STAMP_PADDRS[14]),
	.B(N_8),
	.C(STAMP_PADDRS[13]),
	.Y(PSELSBUS[1])
);
defparam \PSELSBUS_0_a2[1] .INIT=8'h10;
// @21:819
  CFG4 \PSELSBUS_0_a2_RNIUIPA1[1]  (
	.A(PSELSBUS[2]),
	.B(PSELSBUS[1]),
	.C(N_5_i),
	.D(iPSELS_raw_0),
	.Y(iPRDATA_0_sqmuxa_i)
);
defparam \PSELSBUS_0_a2_RNIUIPA1[1] .INIT=16'hFEFF;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_30 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[0]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[0])
);
defparam PREADY_i_a2_0_RNIB2RK1_30.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_29 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[1]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[1])
);
defparam PREADY_i_a2_0_RNIB2RK1_29.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_28 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[2]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[2])
);
defparam PREADY_i_a2_0_RNIB2RK1_28.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_27 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[3]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[3])
);
defparam PREADY_i_a2_0_RNIB2RK1_27.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_26 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[4]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[4])
);
defparam PREADY_i_a2_0_RNIB2RK1_26.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_25 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[5]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[5])
);
defparam PREADY_i_a2_0_RNIB2RK1_25.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_24 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[6]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[6])
);
defparam PREADY_i_a2_0_RNIB2RK1_24.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_23 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[7]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[7])
);
defparam PREADY_i_a2_0_RNIB2RK1_23.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_22 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[8]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[8])
);
defparam PREADY_i_a2_0_RNIB2RK1_22.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_21 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[9]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[9])
);
defparam PREADY_i_a2_0_RNIB2RK1_21.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_20 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[10]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[10])
);
defparam PREADY_i_a2_0_RNIB2RK1_20.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_19 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[11]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[11])
);
defparam PREADY_i_a2_0_RNIB2RK1_19.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_18 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[12]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[12])
);
defparam PREADY_i_a2_0_RNIB2RK1_18.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_17 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[13]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[13])
);
defparam PREADY_i_a2_0_RNIB2RK1_17.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_16 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[14]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[14])
);
defparam PREADY_i_a2_0_RNIB2RK1_16.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_15 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[15]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[15])
);
defparam PREADY_i_a2_0_RNIB2RK1_15.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_14 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[16]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[16])
);
defparam PREADY_i_a2_0_RNIB2RK1_14.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_13 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[17]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[17])
);
defparam PREADY_i_a2_0_RNIB2RK1_13.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_12 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[18]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[18])
);
defparam PREADY_i_a2_0_RNIB2RK1_12.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_11 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[19]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[19])
);
defparam PREADY_i_a2_0_RNIB2RK1_11.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_10 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[20]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[20])
);
defparam PREADY_i_a2_0_RNIB2RK1_10.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_9 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[21]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[21])
);
defparam PREADY_i_a2_0_RNIB2RK1_9.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_8 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[22]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[22])
);
defparam PREADY_i_a2_0_RNIB2RK1_8.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_7 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[23]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[23])
);
defparam PREADY_i_a2_0_RNIB2RK1_7.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_6 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[24]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[24])
);
defparam PREADY_i_a2_0_RNIB2RK1_6.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_5 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[25]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[25])
);
defparam PREADY_i_a2_0_RNIB2RK1_5.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_4 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[26]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[26])
);
defparam PREADY_i_a2_0_RNIB2RK1_4.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_3 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[27]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[27])
);
defparam PREADY_i_a2_0_RNIB2RK1_3.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_2 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[28]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[28])
);
defparam PREADY_i_a2_0_RNIB2RK1_2.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_1 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[29]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[29])
);
defparam PREADY_i_a2_0_RNIB2RK1_1.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1_0 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[30]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[30])
);
defparam PREADY_i_a2_0_RNIB2RK1_0.INIT=16'h4000;
// @10:96
  CFG4 PREADY_i_a2_0_RNIB2RK1 (
	.A(N_5_i),
	.B(sb_sb_0_STAMP_PRDATA[31]),
	.C(PREADY_i_a2_0_Z),
	.D(iPSELS_raw_0),
	.Y(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[31])
);
defparam PREADY_i_a2_0_RNIB2RK1.INIT=16'h4000;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREAPB3_MUXPTOB3 */

module CoreAPB3 (
  STAMP_PADDRS,
  sb_sb_0_STAMP_PRDATA,
  sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA,
  sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx,
  iPRDATA_0_sqmuxa_i
)
;
input [15:12] STAMP_PADDRS ;
input [31:0] sb_sb_0_STAMP_PRDATA ;
output [31:0] sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA ;
input sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
output iPRDATA_0_sqmuxa_i ;
wire sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
wire iPRDATA_0_sqmuxa_i ;
wire [0:0] iPSELS_raw;
wire N_8 ;
wire GND ;
wire VCC ;
// @18:647
  CFG4 \iPSELS_raw_0_a2[0]  (
	.A(STAMP_PADDRS[14]),
	.B(N_8),
	.C(STAMP_PADDRS[12]),
	.D(STAMP_PADDRS[13]),
	.Y(iPSELS_raw[0])
);
defparam \iPSELS_raw_0_a2[0] .INIT=16'h0001;
// @18:1308
  COREAPB3_MUXPTOB3 u_mux_p_to_b3 (
	.sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[31:0]),
	.sb_sb_0_STAMP_PRDATA(sb_sb_0_STAMP_PRDATA[31:0]),
	.iPSELS_raw_0(iPSELS_raw[0]),
	.STAMP_PADDRS(STAMP_PADDRS[15:12]),
	.iPRDATA_0_sqmuxa_i(iPRDATA_0_sqmuxa_i),
	.N_8(N_8),
	.sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CoreAPB3 */

module sb_sb_FABOSC_0_OSC (
  FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @20:53
  RCOSC_25_50MHZ I_RCOSC_25_50MHZ (
	.CLKOUT(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
defparam I_RCOSC_25_50MHZ.FREQUENCY=50.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sb_sb_FABOSC_0_OSC */

module sb_sb_MSS (
  sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA,
  sb_sb_0_STAMP_PRDATA,
  STAMP_PADDRS,
  FIC_0_CLK,
  SODS_c,
  FIC_0_LOCK,
  iPRDATA_0_sqmuxa_i,
  sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx,
  LED_RECORDING_c,
  LED_HEARTBEAT_c,
  DAPI_RX,
  DAPI_TX,
  TM_RX,
  TM_TX,
  SPI_DATASTORAGE_CLK,
  SPI_DATASTORAGE_DI,
  SPI_DATASTORAGE_DO,
  SPI_DATASTORAGE_SS0
)
;
input [31:0] sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA ;
output [31:0] sb_sb_0_STAMP_PRDATA ;
output [15:12] STAMP_PADDRS ;
input FIC_0_CLK ;
input SODS_c ;
input FIC_0_LOCK ;
input iPRDATA_0_sqmuxa_i ;
output sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
output LED_RECORDING_c ;
output LED_HEARTBEAT_c ;
input DAPI_RX ;
output DAPI_TX ;
input TM_RX ;
output TM_TX ;
inout SPI_DATASTORAGE_CLK /* synthesis syn_tristate = 1 */ ;
input SPI_DATASTORAGE_DI ;
output SPI_DATASTORAGE_DO ;
inout SPI_DATASTORAGE_SS0 /* synthesis syn_tristate = 1 */ ;
wire FIC_0_CLK ;
wire SODS_c ;
wire FIC_0_LOCK ;
wire iPRDATA_0_sqmuxa_i ;
wire sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
wire LED_RECORDING_c ;
wire LED_HEARTBEAT_c ;
wire DAPI_RX ;
wire DAPI_TX ;
wire TM_RX ;
wire TM_TX ;
wire SPI_DATASTORAGE_CLK ;
wire SPI_DATASTORAGE_DI ;
wire SPI_DATASTORAGE_DO ;
wire SPI_DATASTORAGE_SS0 ;
wire [7:0] EDAC_ERROR;
wire [31:0] F_FM0_RDATA;
wire [31:0] FIC_0_APB_M_PADDR;
wire [1:0] F_HM0_SIZE;
wire [1:0] FAB_OPMODE;
wire [3:0] FAB_VCONTROL;
wire [1:0] FAB_XCVRSEL;
wire [7:0] FAB_XDATAOUT;
wire [1:0] FIC32_0_MASTER;
wire [1:0] FIC32_1_MASTER;
wire [15:0] H2F_INTERRUPT;
wire [15:2] FIC_2_APB_M_PADDR;
wire [31:0] FIC_2_APB_M_PWDATA;
wire [9:0] TCGF;
wire [3:0] TRACEDATA;
wire [3:0] TXD_RIF;
wire [7:0] TXDF;
wire [3:0] F_BID;
wire [1:0] F_BRESP_HRESP0;
wire [63:0] F_RDATA_HRDATA01;
wire [3:0] F_RID;
wire [1:0] F_RRESP_HRESP1;
wire [15:0] MDDR_FABRIC_PRDATA;
wire [15:0] DRAM_ADDR;
wire [2:0] DRAM_BA;
wire [2:0] DRAM_DM_RDQS_OUT;
wire [17:0] DRAM_DQ_OUT;
wire [2:0] DRAM_DQS_OUT;
wire [1:0] DRAM_FIFO_WE_OUT;
wire [2:0] DM_OE;
wire [17:0] DRAM_DQ_OE;
wire [2:0] DRAM_DQS_OE;
wire SPI_0_SS0_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE ;
wire SPI_0_DI_PAD_Y ;
wire SPI_0_CLK_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE ;
wire MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT ;
wire MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OE ;
wire MMUART_1_RXD_PAD_Y ;
wire MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT ;
wire MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE ;
wire MMUART_0_RXD_PAD_Y ;
wire CAN_RXBUS_MGPIO3A_H2F_A ;
wire CAN_TX_EBL_MGPIO4A_H2F_A ;
wire CAN_TX_EBL_MGPIO4A_H2F_B ;
wire CAN_TXBUS_MGPIO2A_H2F_A ;
wire FIC_2_APB_M_PCLK ;
wire COMMS_INT ;
wire FIC_2_APB_M_PRESET_N ;
wire F_FM0_READYOUT ;
wire F_FM0_RESP ;
wire FIC_0_APB_M_PENABLE ;
wire F_HM0_TRANS1 ;
wire FIC_0_APB_M_PWRITE ;
wire FAB_CHRGVBUS ;
wire FAB_DISCHRGVBUS ;
wire FAB_DMPULLDOWN ;
wire FAB_DPPULLDOWN ;
wire FAB_DRVVBUS ;
wire FAB_IDPULLUP ;
wire FAB_SUSPENDM ;
wire FAB_TERMSEL ;
wire FAB_TXVALID ;
wire FAB_VCONTROLLOADM ;
wire FACC_GLMUX_SEL ;
wire MSS_RESET_N_M2F ;
wire GTX_CLK ;
wire H2F_NMI ;
wire H2FCALIB ;
wire I2C0_SCL_MGPIO31B_H2F_A ;
wire I2C0_SCL_MGPIO31B_H2F_B ;
wire I2C0_SDA_MGPIO30B_H2F_A ;
wire I2C0_SDA_MGPIO30B_H2F_B ;
wire I2C1_SCL_MGPIO1A_H2F_A ;
wire I2C1_SCL_MGPIO1A_H2F_B ;
wire I2C1_SDA_MGPIO0A_H2F_A ;
wire I2C1_SDA_MGPIO0A_H2F_B ;
wire MDCF ;
wire MDOENF ;
wire MDOF ;
wire MMUART0_CTS_MGPIO19B_H2F_A ;
wire MMUART0_CTS_MGPIO19B_H2F_B ;
wire MMUART0_DCD_MGPIO22B_H2F_A ;
wire MMUART0_DCD_MGPIO22B_H2F_B ;
wire MMUART0_DSR_MGPIO20B_H2F_A ;
wire MMUART0_DSR_MGPIO20B_H2F_B ;
wire MMUART0_DTR_MGPIO18B_H2F_A ;
wire MMUART0_DTR_MGPIO18B_H2F_B ;
wire MMUART0_RI_MGPIO21B_H2F_A ;
wire MMUART0_RI_MGPIO21B_H2F_B ;
wire MMUART0_RTS_MGPIO17B_H2F_A ;
wire MMUART0_RTS_MGPIO17B_H2F_B ;
wire MMUART0_RXD_MGPIO28B_H2F_A ;
wire MMUART0_RXD_MGPIO28B_H2F_B ;
wire MMUART0_SCK_MGPIO29B_H2F_A ;
wire MMUART0_SCK_MGPIO29B_H2F_B ;
wire MMUART0_TXD_MGPIO27B_H2F_A ;
wire MMUART0_TXD_MGPIO27B_H2F_B ;
wire MMUART1_DTR_MGPIO12B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_B ;
wire MMUART1_RXD_MGPIO26B_H2F_A ;
wire MMUART1_RXD_MGPIO26B_H2F_B ;
wire MMUART1_SCK_MGPIO25B_H2F_A ;
wire MMUART1_SCK_MGPIO25B_H2F_B ;
wire MMUART1_TXD_MGPIO24B_H2F_A ;
wire MMUART1_TXD_MGPIO24B_H2F_B ;
wire MPLL_LOCK ;
wire FIC_2_APB_M_PENABLE ;
wire FIC_2_APB_M_PSEL ;
wire FIC_2_APB_M_PWRITE ;
wire RTC_MATCH ;
wire SLEEPDEEP ;
wire SLEEPHOLDACK ;
wire SLEEPING ;
wire SMBALERT_NO0 ;
wire SMBALERT_NO1 ;
wire SMBSUS_NO0 ;
wire SMBSUS_NO1 ;
wire SPI0_CLK_OUT ;
wire SPI0_SDI_MGPIO5A_H2F_A ;
wire SPI0_SDI_MGPIO5A_H2F_B ;
wire SPI0_SDO_MGPIO6A_H2F_A ;
wire SPI0_SDO_MGPIO6A_H2F_B ;
wire SPI0_SS0_MGPIO7A_H2F_A ;
wire SPI0_SS0_MGPIO7A_H2F_B ;
wire SPI0_SS1_MGPIO8A_H2F_A ;
wire SPI0_SS1_MGPIO8A_H2F_B ;
wire SPI0_SS2_MGPIO9A_H2F_A ;
wire SPI0_SS2_MGPIO9A_H2F_B ;
wire SPI0_SS3_MGPIO10A_H2F_A ;
wire SPI0_SS3_MGPIO10A_H2F_B ;
wire SPI0_SS4_MGPIO19A_H2F_A ;
wire SPI0_SS5_MGPIO20A_H2F_A ;
wire SPI0_SS6_MGPIO21A_H2F_A ;
wire SPI0_SS7_MGPIO22A_H2F_A ;
wire SPI1_CLK_OUT ;
wire SPI1_SDI_MGPIO11A_H2F_A ;
wire SPI1_SDI_MGPIO11A_H2F_B ;
wire SPI1_SDO_MGPIO12A_H2F_A ;
wire SPI1_SDO_MGPIO12A_H2F_B ;
wire SPI1_SS0_MGPIO13A_H2F_A ;
wire SPI1_SS0_MGPIO13A_H2F_B ;
wire SPI1_SS1_MGPIO14A_H2F_A ;
wire SPI1_SS1_MGPIO14A_H2F_B ;
wire SPI1_SS2_MGPIO15A_H2F_A ;
wire SPI1_SS2_MGPIO15A_H2F_B ;
wire SPI1_SS3_MGPIO16A_H2F_A ;
wire SPI1_SS3_MGPIO16A_H2F_B ;
wire SPI1_SS4_MGPIO17A_H2F_A ;
wire SPI1_SS5_MGPIO18A_H2F_A ;
wire SPI1_SS6_MGPIO23A_H2F_A ;
wire SPI1_SS7_MGPIO24A_H2F_A ;
wire TRACECLK ;
wire TX_CLK ;
wire TX_ENF ;
wire TX_ERRF ;
wire TXCTL_EN_RIF ;
wire TXEV ;
wire WDOGTIMEOUT ;
wire F_ARREADY_HREADYOUT1 ;
wire F_AWREADY_HREADYOUT0 ;
wire F_BVALID ;
wire F_RLAST ;
wire F_RVALID ;
wire F_WREADY ;
wire MDDR_FABRIC_PREADY ;
wire MDDR_FABRIC_PSLVERR ;
wire VCC ;
wire GND ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT ;
wire DRAM_CASN ;
wire DRAM_CKE ;
wire DRAM_CLK ;
wire DRAM_CSN ;
wire DRAM_ODT ;
wire DRAM_RASN ;
wire DRAM_RSTN ;
wire DRAM_WEN ;
wire I2C0_SCL_USBC_DATA1_MGPIO31B_OUT ;
wire I2C0_SDA_USBC_DATA0_MGPIO30B_OUT ;
wire I2C1_SCL_USBA_DATA4_MGPIO1A_OUT ;
wire I2C1_SDA_USBA_DATA3_MGPIO0A_OUT ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT ;
wire MMUART0_DCD_MGPIO22B_OUT ;
wire MMUART0_DSR_MGPIO20B_OUT ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT ;
wire MMUART0_RI_MGPIO21B_OUT ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OUT ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OUT ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT ;
wire RGMII_MDC_RMII_MDC_OUT ;
wire RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT ;
wire RGMII_RX_CLK_OUT ;
wire RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT ;
wire RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT ;
wire RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT ;
wire RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT ;
wire RGMII_RXD3_USBB_DATA4_OUT ;
wire RGMII_TX_CLK_OUT ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT ;
wire RGMII_TXD1_RMII_TXD1_USBB_STP_OUT ;
wire RGMII_TXD2_USBB_DATA5_OUT ;
wire RGMII_TXD3_USBB_DATA6_OUT ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OUT ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OUT ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OUT ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OUT ;
wire SPI1_SCK_OUT ;
wire SPI1_SDI_MGPIO11A_OUT ;
wire SPI1_SDO_MGPIO12A_OUT ;
wire SPI1_SS0_MGPIO13A_OUT ;
wire SPI1_SS1_MGPIO14A_OUT ;
wire SPI1_SS2_MGPIO15A_OUT ;
wire SPI1_SS3_MGPIO16A_OUT ;
wire SPI1_SS4_MGPIO17A_OUT ;
wire SPI1_SS5_MGPIO18A_OUT ;
wire SPI1_SS6_MGPIO23A_OUT ;
wire SPI1_SS7_MGPIO24A_OUT ;
wire USBC_XCLK_OUT ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OE ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OE ;
wire I2C0_SCL_USBC_DATA1_MGPIO31B_OE ;
wire I2C0_SDA_USBC_DATA0_MGPIO30B_OE ;
wire I2C1_SCL_USBA_DATA4_MGPIO1A_OE ;
wire I2C1_SDA_USBA_DATA3_MGPIO0A_OE ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OE ;
wire MMUART0_DCD_MGPIO22B_OE ;
wire MMUART0_DSR_MGPIO20B_OE ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OE ;
wire MMUART0_RI_MGPIO21B_OE ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OE ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OE ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OE ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OE ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OE ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE ;
wire RGMII_MDC_RMII_MDC_OE ;
wire RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE ;
wire RGMII_RX_CLK_OE ;
wire RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE ;
wire RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE ;
wire RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE ;
wire RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE ;
wire RGMII_RXD3_USBB_DATA4_OE ;
wire RGMII_TX_CLK_OE ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OE ;
wire RGMII_TXD1_RMII_TXD1_USBB_STP_OE ;
wire RGMII_TXD2_USBB_DATA5_OE ;
wire RGMII_TXD3_USBB_DATA6_OE ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OE ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OE ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OE ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OE ;
wire SPI1_SCK_OE ;
wire SPI1_SDI_MGPIO11A_OE ;
wire SPI1_SDO_MGPIO12A_OE ;
wire SPI1_SS0_MGPIO13A_OE ;
wire SPI1_SS1_MGPIO14A_OE ;
wire SPI1_SS2_MGPIO15A_OE ;
wire SPI1_SS3_MGPIO16A_OE ;
wire SPI1_SS4_MGPIO17A_OE ;
wire SPI1_SS5_MGPIO18A_OE ;
wire SPI1_SS6_MGPIO23A_OE ;
wire SPI1_SS7_MGPIO24A_OE ;
wire USBC_XCLK_OE ;
// @21:1350
  BIBUF SPI_0_SS0_PAD (
	.Y(SPI_0_SS0_PAD_Y),
	.PAD(SPI_DATASTORAGE_SS0),
	.D(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE)
);
// @21:1341
  TRIBUFF SPI_0_DO_PAD (
	.PAD(SPI_DATASTORAGE_DO),
	.D(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE)
);
// @21:1333
  INBUF SPI_0_DI_PAD (
	.Y(SPI_0_DI_PAD_Y),
	.PAD(SPI_DATASTORAGE_DI)
);
// @21:1322
  BIBUF SPI_0_CLK_PAD (
	.Y(SPI_0_CLK_PAD_Y),
	.PAD(SPI_DATASTORAGE_CLK),
	.D(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.E(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE)
);
// @21:810
  TRIBUFF MMUART_1_TXD_PAD (
	.PAD(TM_TX),
	.D(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT),
	.E(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OE)
);
// @21:802
  INBUF MMUART_1_RXD_PAD (
	.Y(MMUART_1_RXD_PAD_Y),
	.PAD(TM_RX)
);
// @21:793
  TRIBUFF MMUART_0_TXD_PAD (
	.PAD(DAPI_TX),
	.D(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.E(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE)
);
// @21:785
  INBUF MMUART_0_RXD_PAD (
	.Y(MMUART_0_RXD_PAD_Y),
	.PAD(DAPI_RX)
);
// @21:819
  MSS_010 MSS_ADLIB_INST (
	.CAN_RXBUS_MGPIO3A_H2F_A(CAN_RXBUS_MGPIO3A_H2F_A),
	.CAN_RXBUS_MGPIO3A_H2F_B(LED_HEARTBEAT_c),
	.CAN_TX_EBL_MGPIO4A_H2F_A(CAN_TX_EBL_MGPIO4A_H2F_A),
	.CAN_TX_EBL_MGPIO4A_H2F_B(CAN_TX_EBL_MGPIO4A_H2F_B),
	.CAN_TXBUS_MGPIO2A_H2F_A(CAN_TXBUS_MGPIO2A_H2F_A),
	.CAN_TXBUS_MGPIO2A_H2F_B(LED_RECORDING_c),
	.CLK_CONFIG_APB(FIC_2_APB_M_PCLK),
	.COMMS_INT(COMMS_INT),
	.CONFIG_PRESET_N(FIC_2_APB_M_PRESET_N),
	.EDAC_ERROR(EDAC_ERROR[7:0]),
	.F_FM0_RDATA(F_FM0_RDATA[31:0]),
	.F_FM0_READYOUT(F_FM0_READYOUT),
	.F_FM0_RESP(F_FM0_RESP),
	.F_HM0_ADDR({FIC_0_APB_M_PADDR[31:16], STAMP_PADDRS[15:12], FIC_0_APB_M_PADDR[11:0]}),
	.F_HM0_ENABLE(FIC_0_APB_M_PENABLE),
	.F_HM0_SEL(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx),
	.F_HM0_SIZE(F_HM0_SIZE[1:0]),
	.F_HM0_TRANS1(F_HM0_TRANS1),
	.F_HM0_WDATA(sb_sb_0_STAMP_PRDATA[31:0]),
	.F_HM0_WRITE(FIC_0_APB_M_PWRITE),
	.FAB_CHRGVBUS(FAB_CHRGVBUS),
	.FAB_DISCHRGVBUS(FAB_DISCHRGVBUS),
	.FAB_DMPULLDOWN(FAB_DMPULLDOWN),
	.FAB_DPPULLDOWN(FAB_DPPULLDOWN),
	.FAB_DRVVBUS(FAB_DRVVBUS),
	.FAB_IDPULLUP(FAB_IDPULLUP),
	.FAB_OPMODE(FAB_OPMODE[1:0]),
	.FAB_SUSPENDM(FAB_SUSPENDM),
	.FAB_TERMSEL(FAB_TERMSEL),
	.FAB_TXVALID(FAB_TXVALID),
	.FAB_VCONTROL(FAB_VCONTROL[3:0]),
	.FAB_VCONTROLLOADM(FAB_VCONTROLLOADM),
	.FAB_XCVRSEL(FAB_XCVRSEL[1:0]),
	.FAB_XDATAOUT(FAB_XDATAOUT[7:0]),
	.FACC_GLMUX_SEL(FACC_GLMUX_SEL),
	.FIC32_0_MASTER(FIC32_0_MASTER[1:0]),
	.FIC32_1_MASTER(FIC32_1_MASTER[1:0]),
	.FPGA_RESET_N(MSS_RESET_N_M2F),
	.GTX_CLK(GTX_CLK),
	.H2F_INTERRUPT(H2F_INTERRUPT[15:0]),
	.H2F_NMI(H2F_NMI),
	.H2FCALIB(H2FCALIB),
	.I2C0_SCL_MGPIO31B_H2F_A(I2C0_SCL_MGPIO31B_H2F_A),
	.I2C0_SCL_MGPIO31B_H2F_B(I2C0_SCL_MGPIO31B_H2F_B),
	.I2C0_SDA_MGPIO30B_H2F_A(I2C0_SDA_MGPIO30B_H2F_A),
	.I2C0_SDA_MGPIO30B_H2F_B(I2C0_SDA_MGPIO30B_H2F_B),
	.I2C1_SCL_MGPIO1A_H2F_A(I2C1_SCL_MGPIO1A_H2F_A),
	.I2C1_SCL_MGPIO1A_H2F_B(I2C1_SCL_MGPIO1A_H2F_B),
	.I2C1_SDA_MGPIO0A_H2F_A(I2C1_SDA_MGPIO0A_H2F_A),
	.I2C1_SDA_MGPIO0A_H2F_B(I2C1_SDA_MGPIO0A_H2F_B),
	.MDCF(MDCF),
	.MDOENF(MDOENF),
	.MDOF(MDOF),
	.MMUART0_CTS_MGPIO19B_H2F_A(MMUART0_CTS_MGPIO19B_H2F_A),
	.MMUART0_CTS_MGPIO19B_H2F_B(MMUART0_CTS_MGPIO19B_H2F_B),
	.MMUART0_DCD_MGPIO22B_H2F_A(MMUART0_DCD_MGPIO22B_H2F_A),
	.MMUART0_DCD_MGPIO22B_H2F_B(MMUART0_DCD_MGPIO22B_H2F_B),
	.MMUART0_DSR_MGPIO20B_H2F_A(MMUART0_DSR_MGPIO20B_H2F_A),
	.MMUART0_DSR_MGPIO20B_H2F_B(MMUART0_DSR_MGPIO20B_H2F_B),
	.MMUART0_DTR_MGPIO18B_H2F_A(MMUART0_DTR_MGPIO18B_H2F_A),
	.MMUART0_DTR_MGPIO18B_H2F_B(MMUART0_DTR_MGPIO18B_H2F_B),
	.MMUART0_RI_MGPIO21B_H2F_A(MMUART0_RI_MGPIO21B_H2F_A),
	.MMUART0_RI_MGPIO21B_H2F_B(MMUART0_RI_MGPIO21B_H2F_B),
	.MMUART0_RTS_MGPIO17B_H2F_A(MMUART0_RTS_MGPIO17B_H2F_A),
	.MMUART0_RTS_MGPIO17B_H2F_B(MMUART0_RTS_MGPIO17B_H2F_B),
	.MMUART0_RXD_MGPIO28B_H2F_A(MMUART0_RXD_MGPIO28B_H2F_A),
	.MMUART0_RXD_MGPIO28B_H2F_B(MMUART0_RXD_MGPIO28B_H2F_B),
	.MMUART0_SCK_MGPIO29B_H2F_A(MMUART0_SCK_MGPIO29B_H2F_A),
	.MMUART0_SCK_MGPIO29B_H2F_B(MMUART0_SCK_MGPIO29B_H2F_B),
	.MMUART0_TXD_MGPIO27B_H2F_A(MMUART0_TXD_MGPIO27B_H2F_A),
	.MMUART0_TXD_MGPIO27B_H2F_B(MMUART0_TXD_MGPIO27B_H2F_B),
	.MMUART1_DTR_MGPIO12B_H2F_A(MMUART1_DTR_MGPIO12B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_A(MMUART1_RTS_MGPIO11B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_B(MMUART1_RTS_MGPIO11B_H2F_B),
	.MMUART1_RXD_MGPIO26B_H2F_A(MMUART1_RXD_MGPIO26B_H2F_A),
	.MMUART1_RXD_MGPIO26B_H2F_B(MMUART1_RXD_MGPIO26B_H2F_B),
	.MMUART1_SCK_MGPIO25B_H2F_A(MMUART1_SCK_MGPIO25B_H2F_A),
	.MMUART1_SCK_MGPIO25B_H2F_B(MMUART1_SCK_MGPIO25B_H2F_B),
	.MMUART1_TXD_MGPIO24B_H2F_A(MMUART1_TXD_MGPIO24B_H2F_A),
	.MMUART1_TXD_MGPIO24B_H2F_B(MMUART1_TXD_MGPIO24B_H2F_B),
	.MPLL_LOCK(MPLL_LOCK),
	.PER2_FABRIC_PADDR(FIC_2_APB_M_PADDR[15:2]),
	.PER2_FABRIC_PENABLE(FIC_2_APB_M_PENABLE),
	.PER2_FABRIC_PSEL(FIC_2_APB_M_PSEL),
	.PER2_FABRIC_PWDATA(FIC_2_APB_M_PWDATA[31:0]),
	.PER2_FABRIC_PWRITE(FIC_2_APB_M_PWRITE),
	.RTC_MATCH(RTC_MATCH),
	.SLEEPDEEP(SLEEPDEEP),
	.SLEEPHOLDACK(SLEEPHOLDACK),
	.SLEEPING(SLEEPING),
	.SMBALERT_NO0(SMBALERT_NO0),
	.SMBALERT_NO1(SMBALERT_NO1),
	.SMBSUS_NO0(SMBSUS_NO0),
	.SMBSUS_NO1(SMBSUS_NO1),
	.SPI0_CLK_OUT(SPI0_CLK_OUT),
	.SPI0_SDI_MGPIO5A_H2F_A(SPI0_SDI_MGPIO5A_H2F_A),
	.SPI0_SDI_MGPIO5A_H2F_B(SPI0_SDI_MGPIO5A_H2F_B),
	.SPI0_SDO_MGPIO6A_H2F_A(SPI0_SDO_MGPIO6A_H2F_A),
	.SPI0_SDO_MGPIO6A_H2F_B(SPI0_SDO_MGPIO6A_H2F_B),
	.SPI0_SS0_MGPIO7A_H2F_A(SPI0_SS0_MGPIO7A_H2F_A),
	.SPI0_SS0_MGPIO7A_H2F_B(SPI0_SS0_MGPIO7A_H2F_B),
	.SPI0_SS1_MGPIO8A_H2F_A(SPI0_SS1_MGPIO8A_H2F_A),
	.SPI0_SS1_MGPIO8A_H2F_B(SPI0_SS1_MGPIO8A_H2F_B),
	.SPI0_SS2_MGPIO9A_H2F_A(SPI0_SS2_MGPIO9A_H2F_A),
	.SPI0_SS2_MGPIO9A_H2F_B(SPI0_SS2_MGPIO9A_H2F_B),
	.SPI0_SS3_MGPIO10A_H2F_A(SPI0_SS3_MGPIO10A_H2F_A),
	.SPI0_SS3_MGPIO10A_H2F_B(SPI0_SS3_MGPIO10A_H2F_B),
	.SPI0_SS4_MGPIO19A_H2F_A(SPI0_SS4_MGPIO19A_H2F_A),
	.SPI0_SS5_MGPIO20A_H2F_A(SPI0_SS5_MGPIO20A_H2F_A),
	.SPI0_SS6_MGPIO21A_H2F_A(SPI0_SS6_MGPIO21A_H2F_A),
	.SPI0_SS7_MGPIO22A_H2F_A(SPI0_SS7_MGPIO22A_H2F_A),
	.SPI1_CLK_OUT(SPI1_CLK_OUT),
	.SPI1_SDI_MGPIO11A_H2F_A(SPI1_SDI_MGPIO11A_H2F_A),
	.SPI1_SDI_MGPIO11A_H2F_B(SPI1_SDI_MGPIO11A_H2F_B),
	.SPI1_SDO_MGPIO12A_H2F_A(SPI1_SDO_MGPIO12A_H2F_A),
	.SPI1_SDO_MGPIO12A_H2F_B(SPI1_SDO_MGPIO12A_H2F_B),
	.SPI1_SS0_MGPIO13A_H2F_A(SPI1_SS0_MGPIO13A_H2F_A),
	.SPI1_SS0_MGPIO13A_H2F_B(SPI1_SS0_MGPIO13A_H2F_B),
	.SPI1_SS1_MGPIO14A_H2F_A(SPI1_SS1_MGPIO14A_H2F_A),
	.SPI1_SS1_MGPIO14A_H2F_B(SPI1_SS1_MGPIO14A_H2F_B),
	.SPI1_SS2_MGPIO15A_H2F_A(SPI1_SS2_MGPIO15A_H2F_A),
	.SPI1_SS2_MGPIO15A_H2F_B(SPI1_SS2_MGPIO15A_H2F_B),
	.SPI1_SS3_MGPIO16A_H2F_A(SPI1_SS3_MGPIO16A_H2F_A),
	.SPI1_SS3_MGPIO16A_H2F_B(SPI1_SS3_MGPIO16A_H2F_B),
	.SPI1_SS4_MGPIO17A_H2F_A(SPI1_SS4_MGPIO17A_H2F_A),
	.SPI1_SS5_MGPIO18A_H2F_A(SPI1_SS5_MGPIO18A_H2F_A),
	.SPI1_SS6_MGPIO23A_H2F_A(SPI1_SS6_MGPIO23A_H2F_A),
	.SPI1_SS7_MGPIO24A_H2F_A(SPI1_SS7_MGPIO24A_H2F_A),
	.TCGF(TCGF[9:0]),
	.TRACECLK(TRACECLK),
	.TRACEDATA(TRACEDATA[3:0]),
	.TX_CLK(TX_CLK),
	.TX_ENF(TX_ENF),
	.TX_ERRF(TX_ERRF),
	.TXCTL_EN_RIF(TXCTL_EN_RIF),
	.TXD_RIF(TXD_RIF[3:0]),
	.TXDF(TXDF[7:0]),
	.TXEV(TXEV),
	.WDOGTIMEOUT(WDOGTIMEOUT),
	.F_ARREADY_HREADYOUT1(F_ARREADY_HREADYOUT1),
	.F_AWREADY_HREADYOUT0(F_AWREADY_HREADYOUT0),
	.F_BID(F_BID[3:0]),
	.F_BRESP_HRESP0(F_BRESP_HRESP0[1:0]),
	.F_BVALID(F_BVALID),
	.F_RDATA_HRDATA01(F_RDATA_HRDATA01[63:0]),
	.F_RID(F_RID[3:0]),
	.F_RLAST(F_RLAST),
	.F_RRESP_HRESP1(F_RRESP_HRESP1[1:0]),
	.F_RVALID(F_RVALID),
	.F_WREADY(F_WREADY),
	.MDDR_FABRIC_PRDATA(MDDR_FABRIC_PRDATA[15:0]),
	.MDDR_FABRIC_PREADY(MDDR_FABRIC_PREADY),
	.MDDR_FABRIC_PSLVERR(MDDR_FABRIC_PSLVERR),
	.CAN_RXBUS_F2H_SCP(VCC),
	.CAN_TX_EBL_F2H_SCP(VCC),
	.CAN_TXBUS_F2H_SCP(VCC),
	.COLF(VCC),
	.CRSF(VCC),
	.F2_DMAREADY({VCC, VCC}),
	.F2H_INTERRUPT({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F2HCALIB(VCC),
	.F_DMAREADY({VCC, VCC}),
	.F_FM0_ADDR({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_ENABLE(GND),
	.F_FM0_MASTLOCK(GND),
	.F_FM0_READY(VCC),
	.F_FM0_SEL(GND),
	.F_FM0_SIZE({GND, GND}),
	.F_FM0_TRANS1(GND),
	.F_FM0_WDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_WRITE(GND),
	.F_HM0_RDATA(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[31:0]),
	.F_HM0_READY(iPRDATA_0_sqmuxa_i),
	.F_HM0_RESP(GND),
	.FAB_AVALID(VCC),
	.FAB_HOSTDISCON(VCC),
	.FAB_IDDIG(VCC),
	.FAB_LINESTATE({VCC, VCC}),
	.FAB_M3_RESET_N(VCC),
	.FAB_PLL_LOCK(FIC_0_LOCK),
	.FAB_RXACTIVE(VCC),
	.FAB_RXERROR(VCC),
	.FAB_RXVALID(VCC),
	.FAB_RXVALIDH(GND),
	.FAB_SESSEND(VCC),
	.FAB_TXREADY(VCC),
	.FAB_VBUSVALID(VCC),
	.FAB_VSTATUS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.FAB_XDATAIN({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.GTX_CLKPF(VCC),
	.I2C0_BCLK(VCC),
	.I2C0_SCL_F2H_SCP(VCC),
	.I2C0_SDA_F2H_SCP(VCC),
	.I2C1_BCLK(VCC),
	.I2C1_SCL_F2H_SCP(VCC),
	.I2C1_SDA_F2H_SCP(VCC),
	.MDIF(VCC),
	.MGPIO0A_F2H_GPIN(SODS_c),
	.MGPIO10A_F2H_GPIN(VCC),
	.MGPIO11A_F2H_GPIN(VCC),
	.MGPIO11B_F2H_GPIN(VCC),
	.MGPIO12A_F2H_GPIN(VCC),
	.MGPIO13A_F2H_GPIN(VCC),
	.MGPIO14A_F2H_GPIN(VCC),
	.MGPIO15A_F2H_GPIN(VCC),
	.MGPIO16A_F2H_GPIN(VCC),
	.MGPIO17B_F2H_GPIN(VCC),
	.MGPIO18B_F2H_GPIN(VCC),
	.MGPIO19B_F2H_GPIN(VCC),
	.MGPIO1A_F2H_GPIN(VCC),
	.MGPIO20B_F2H_GPIN(VCC),
	.MGPIO21B_F2H_GPIN(VCC),
	.MGPIO22B_F2H_GPIN(VCC),
	.MGPIO24B_F2H_GPIN(VCC),
	.MGPIO25B_F2H_GPIN(VCC),
	.MGPIO26B_F2H_GPIN(VCC),
	.MGPIO27B_F2H_GPIN(VCC),
	.MGPIO28B_F2H_GPIN(VCC),
	.MGPIO29B_F2H_GPIN(VCC),
	.MGPIO2A_F2H_GPIN(VCC),
	.MGPIO30B_F2H_GPIN(VCC),
	.MGPIO31B_F2H_GPIN(VCC),
	.MGPIO3A_F2H_GPIN(VCC),
	.MGPIO4A_F2H_GPIN(VCC),
	.MGPIO5A_F2H_GPIN(VCC),
	.MGPIO6A_F2H_GPIN(VCC),
	.MGPIO7A_F2H_GPIN(VCC),
	.MGPIO8A_F2H_GPIN(VCC),
	.MGPIO9A_F2H_GPIN(VCC),
	.MMUART0_CTS_F2H_SCP(VCC),
	.MMUART0_DCD_F2H_SCP(VCC),
	.MMUART0_DSR_F2H_SCP(VCC),
	.MMUART0_DTR_F2H_SCP(VCC),
	.MMUART0_RI_F2H_SCP(VCC),
	.MMUART0_RTS_F2H_SCP(VCC),
	.MMUART0_RXD_F2H_SCP(VCC),
	.MMUART0_SCK_F2H_SCP(VCC),
	.MMUART0_TXD_F2H_SCP(VCC),
	.MMUART1_CTS_F2H_SCP(VCC),
	.MMUART1_DCD_F2H_SCP(VCC),
	.MMUART1_DSR_F2H_SCP(VCC),
	.MMUART1_RI_F2H_SCP(VCC),
	.MMUART1_RTS_F2H_SCP(VCC),
	.MMUART1_RXD_F2H_SCP(VCC),
	.MMUART1_SCK_F2H_SCP(VCC),
	.MMUART1_TXD_F2H_SCP(VCC),
	.PER2_FABRIC_PRDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.PER2_FABRIC_PREADY(VCC),
	.PER2_FABRIC_PSLVERR(GND),
	.RCGF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.RX_CLKPF(VCC),
	.RX_DVF(VCC),
	.RX_ERRF(VCC),
	.RX_EV(VCC),
	.RXDF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.SLEEPHOLDREQ(GND),
	.SMBALERT_NI0(VCC),
	.SMBALERT_NI1(VCC),
	.SMBSUS_NI0(VCC),
	.SMBSUS_NI1(VCC),
	.SPI0_CLK_IN(VCC),
	.SPI0_SDI_F2H_SCP(VCC),
	.SPI0_SDO_F2H_SCP(VCC),
	.SPI0_SS0_F2H_SCP(VCC),
	.SPI0_SS1_F2H_SCP(VCC),
	.SPI0_SS2_F2H_SCP(VCC),
	.SPI0_SS3_F2H_SCP(VCC),
	.SPI1_CLK_IN(VCC),
	.SPI1_SDI_F2H_SCP(VCC),
	.SPI1_SDO_F2H_SCP(VCC),
	.SPI1_SS0_F2H_SCP(VCC),
	.SPI1_SS1_F2H_SCP(VCC),
	.SPI1_SS2_F2H_SCP(VCC),
	.SPI1_SS3_F2H_SCP(VCC),
	.TX_CLKPF(VCC),
	.USER_MSS_GPIO_RESET_N(VCC),
	.USER_MSS_RESET_N(VCC),
	.XCLK_FAB(VCC),
	.CLK_BASE(FIC_0_CLK),
	.CLK_MDDR_APB(VCC),
	.F_ARADDR_HADDR1({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_ARBURST_HTRANS1({GND, GND}),
	.F_ARID_HSEL1({GND, GND, GND, GND}),
	.F_ARLEN_HBURST1({GND, GND, GND, GND}),
	.F_ARLOCK_HMASTLOCK1({GND, GND}),
	.F_ARSIZE_HSIZE1({GND, GND}),
	.F_ARVALID_HWRITE1(GND),
	.F_AWADDR_HADDR0({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_AWBURST_HTRANS0({GND, GND}),
	.F_AWID_HSEL0({GND, GND, GND, GND}),
	.F_AWLEN_HBURST0({GND, GND, GND, GND}),
	.F_AWLOCK_HMASTLOCK0({GND, GND}),
	.F_AWSIZE_HSIZE0({GND, GND}),
	.F_AWVALID_HWRITE0(GND),
	.F_BREADY(GND),
	.F_RMW_AXI(GND),
	.F_RREADY(GND),
	.F_WDATA_HWDATA01({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_WID_HREADY01({GND, GND, GND, GND}),
	.F_WLAST(GND),
	.F_WSTRB({GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_WVALID(GND),
	.FPGA_MDDR_ARESET_N(VCC),
	.MDDR_FABRIC_PADDR({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PENABLE(VCC),
	.MDDR_FABRIC_PSEL(VCC),
	.MDDR_FABRIC_PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PWRITE(VCC),
	.PRESET_N(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_IN(GND),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_IN(GND),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_IN(GND),
	.DM_IN({GND, GND, GND}),
	.DRAM_DQ_IN({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.DRAM_DQS_IN({GND, GND, GND}),
	.DRAM_FIFO_WE_IN({GND, GND}),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_IN(GND),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_IN(GND),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_IN(GND),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_IN(GND),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_IN(GND),
	.MMUART0_DCD_MGPIO22B_IN(GND),
	.MMUART0_DSR_MGPIO20B_IN(GND),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_IN(GND),
	.MMUART0_RI_MGPIO21B_IN(GND),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_IN(GND),
	.MMUART0_RXD_USBC_STP_MGPIO28B_IN(MMUART_0_RXD_PAD_Y),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_IN(GND),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_IN(GND),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_IN(MMUART_1_RXD_PAD_Y),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_IN(GND),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_IN(GND),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_IN(GND),
	.RGMII_MDC_RMII_MDC_IN(GND),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_IN(GND),
	.RGMII_RX_CLK_IN(GND),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_IN(GND),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_IN(GND),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_IN(GND),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_IN(GND),
	.RGMII_RXD3_USBB_DATA4_IN(GND),
	.RGMII_TX_CLK_IN(GND),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_IN(GND),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_IN(GND),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_IN(GND),
	.RGMII_TXD2_USBB_DATA5_IN(GND),
	.RGMII_TXD3_USBB_DATA6_IN(GND),
	.SPI0_SCK_USBA_XCLK_IN(SPI_0_CLK_PAD_Y),
	.SPI0_SDI_USBA_DIR_MGPIO5A_IN(SPI_0_DI_PAD_Y),
	.SPI0_SDO_USBA_STP_MGPIO6A_IN(GND),
	.SPI0_SS0_USBA_NXT_MGPIO7A_IN(SPI_0_SS0_PAD_Y),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_IN(GND),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_IN(GND),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_IN(GND),
	.SPI1_SCK_IN(GND),
	.SPI1_SDI_MGPIO11A_IN(GND),
	.SPI1_SDO_MGPIO12A_IN(GND),
	.SPI1_SS0_MGPIO13A_IN(GND),
	.SPI1_SS1_MGPIO14A_IN(GND),
	.SPI1_SS2_MGPIO15A_IN(GND),
	.SPI1_SS3_MGPIO16A_IN(GND),
	.SPI1_SS4_MGPIO17A_IN(GND),
	.SPI1_SS5_MGPIO18A_IN(GND),
	.SPI1_SS6_MGPIO23A_IN(GND),
	.SPI1_SS7_MGPIO24A_IN(GND),
	.USBC_XCLK_IN(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT(CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT(CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT),
	.DRAM_ADDR(DRAM_ADDR[15:0]),
	.DRAM_BA(DRAM_BA[2:0]),
	.DRAM_CASN(DRAM_CASN),
	.DRAM_CKE(DRAM_CKE),
	.DRAM_CLK(DRAM_CLK),
	.DRAM_CSN(DRAM_CSN),
	.DRAM_DM_RDQS_OUT(DRAM_DM_RDQS_OUT[2:0]),
	.DRAM_DQ_OUT(DRAM_DQ_OUT[17:0]),
	.DRAM_DQS_OUT(DRAM_DQS_OUT[2:0]),
	.DRAM_FIFO_WE_OUT(DRAM_FIFO_WE_OUT[1:0]),
	.DRAM_ODT(DRAM_ODT),
	.DRAM_RASN(DRAM_RASN),
	.DRAM_RSTN(DRAM_RSTN),
	.DRAM_WEN(DRAM_WEN),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OUT(I2C0_SCL_USBC_DATA1_MGPIO31B_OUT),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OUT(I2C0_SDA_USBC_DATA0_MGPIO30B_OUT),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OUT(I2C1_SCL_USBA_DATA4_MGPIO1A_OUT),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OUT(I2C1_SDA_USBA_DATA3_MGPIO0A_OUT),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT(MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT),
	.MMUART0_DCD_MGPIO22B_OUT(MMUART0_DCD_MGPIO22B_OUT),
	.MMUART0_DSR_MGPIO20B_OUT(MMUART0_DSR_MGPIO20B_OUT),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT(MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT),
	.MMUART0_RI_MGPIO21B_OUT(MMUART0_RI_MGPIO21B_OUT),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT(MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OUT(MMUART0_RXD_USBC_STP_MGPIO28B_OUT),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OUT(MMUART0_SCK_USBC_NXT_MGPIO29B_OUT),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OUT(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT(MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT(MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT),
	.RGMII_MDC_RMII_MDC_OUT(RGMII_MDC_RMII_MDC_OUT),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT(RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT),
	.RGMII_RX_CLK_OUT(RGMII_RX_CLK_OUT),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT(RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT(RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT(RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT(RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT),
	.RGMII_RXD3_USBB_DATA4_OUT(RGMII_RXD3_USBB_DATA4_OUT),
	.RGMII_TX_CLK_OUT(RGMII_TX_CLK_OUT),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT(RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OUT(RGMII_TXD1_RMII_TXD1_USBB_STP_OUT),
	.RGMII_TXD2_USBB_DATA5_OUT(RGMII_TXD2_USBB_DATA5_OUT),
	.RGMII_TXD3_USBB_DATA6_OUT(RGMII_TXD3_USBB_DATA6_OUT),
	.SPI0_SCK_USBA_XCLK_OUT(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OUT(SPI0_SDI_USBA_DIR_MGPIO5A_OUT),
	.SPI0_SDO_USBA_STP_MGPIO6A_OUT(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OUT(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OUT(SPI0_SS1_USBA_DATA5_MGPIO8A_OUT),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OUT(SPI0_SS2_USBA_DATA6_MGPIO9A_OUT),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OUT(SPI0_SS3_USBA_DATA7_MGPIO10A_OUT),
	.SPI1_SCK_OUT(SPI1_SCK_OUT),
	.SPI1_SDI_MGPIO11A_OUT(SPI1_SDI_MGPIO11A_OUT),
	.SPI1_SDO_MGPIO12A_OUT(SPI1_SDO_MGPIO12A_OUT),
	.SPI1_SS0_MGPIO13A_OUT(SPI1_SS0_MGPIO13A_OUT),
	.SPI1_SS1_MGPIO14A_OUT(SPI1_SS1_MGPIO14A_OUT),
	.SPI1_SS2_MGPIO15A_OUT(SPI1_SS2_MGPIO15A_OUT),
	.SPI1_SS3_MGPIO16A_OUT(SPI1_SS3_MGPIO16A_OUT),
	.SPI1_SS4_MGPIO17A_OUT(SPI1_SS4_MGPIO17A_OUT),
	.SPI1_SS5_MGPIO18A_OUT(SPI1_SS5_MGPIO18A_OUT),
	.SPI1_SS6_MGPIO23A_OUT(SPI1_SS6_MGPIO23A_OUT),
	.SPI1_SS7_MGPIO24A_OUT(SPI1_SS7_MGPIO24A_OUT),
	.USBC_XCLK_OUT(USBC_XCLK_OUT),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OE(CAN_RXBUS_USBA_DATA1_MGPIO3A_OE),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OE(CAN_TXBUS_USBA_DATA0_MGPIO2A_OE),
	.DM_OE(DM_OE[2:0]),
	.DRAM_DQ_OE(DRAM_DQ_OE[17:0]),
	.DRAM_DQS_OE(DRAM_DQS_OE[2:0]),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OE(I2C0_SCL_USBC_DATA1_MGPIO31B_OE),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OE(I2C0_SDA_USBC_DATA0_MGPIO30B_OE),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OE(I2C1_SCL_USBA_DATA4_MGPIO1A_OE),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OE(I2C1_SDA_USBA_DATA3_MGPIO0A_OE),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OE(MMUART0_CTS_USBC_DATA7_MGPIO19B_OE),
	.MMUART0_DCD_MGPIO22B_OE(MMUART0_DCD_MGPIO22B_OE),
	.MMUART0_DSR_MGPIO20B_OE(MMUART0_DSR_MGPIO20B_OE),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OE(MMUART0_DTR_USBC_DATA6_MGPIO18B_OE),
	.MMUART0_RI_MGPIO21B_OE(MMUART0_RI_MGPIO21B_OE),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OE(MMUART0_RTS_USBC_DATA5_MGPIO17B_OE),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OE(MMUART0_RXD_USBC_STP_MGPIO28B_OE),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OE(MMUART0_SCK_USBC_NXT_MGPIO29B_OE),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OE(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OE(MMUART1_RXD_USBC_DATA3_MGPIO26B_OE),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OE(MMUART1_SCK_USBC_DATA4_MGPIO25B_OE),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OE(MSS_ADLIB_INST_MMUART1_TXD_USBC_DATA2_MGPIO24B_OE),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE),
	.RGMII_MDC_RMII_MDC_OE(RGMII_MDC_RMII_MDC_OE),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE(RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE),
	.RGMII_RX_CLK_OE(RGMII_RX_CLK_OE),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE(RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE(RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE(RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE(RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE),
	.RGMII_RXD3_USBB_DATA4_OE(RGMII_RXD3_USBB_DATA4_OE),
	.RGMII_TX_CLK_OE(RGMII_TX_CLK_OE),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OE(RGMII_TXD0_RMII_TXD0_USBB_DIR_OE),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OE(RGMII_TXD1_RMII_TXD1_USBB_STP_OE),
	.RGMII_TXD2_USBB_DATA5_OE(RGMII_TXD2_USBB_DATA5_OE),
	.RGMII_TXD3_USBB_DATA6_OE(RGMII_TXD3_USBB_DATA6_OE),
	.SPI0_SCK_USBA_XCLK_OE(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OE(SPI0_SDI_USBA_DIR_MGPIO5A_OE),
	.SPI0_SDO_USBA_STP_MGPIO6A_OE(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OE(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OE(SPI0_SS1_USBA_DATA5_MGPIO8A_OE),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OE(SPI0_SS2_USBA_DATA6_MGPIO9A_OE),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OE(SPI0_SS3_USBA_DATA7_MGPIO10A_OE),
	.SPI1_SCK_OE(SPI1_SCK_OE),
	.SPI1_SDI_MGPIO11A_OE(SPI1_SDI_MGPIO11A_OE),
	.SPI1_SDO_MGPIO12A_OE(SPI1_SDO_MGPIO12A_OE),
	.SPI1_SS0_MGPIO13A_OE(SPI1_SS0_MGPIO13A_OE),
	.SPI1_SS1_MGPIO14A_OE(SPI1_SS1_MGPIO14A_OE),
	.SPI1_SS2_MGPIO15A_OE(SPI1_SS2_MGPIO15A_OE),
	.SPI1_SS3_MGPIO16A_OE(SPI1_SS3_MGPIO16A_OE),
	.SPI1_SS4_MGPIO17A_OE(SPI1_SS4_MGPIO17A_OE),
	.SPI1_SS5_MGPIO18A_OE(SPI1_SS5_MGPIO18A_OE),
	.SPI1_SS6_MGPIO23A_OE(SPI1_SS6_MGPIO23A_OE),
	.SPI1_SS7_MGPIO24A_OE(SPI1_SS7_MGPIO24A_OE),
	.USBC_XCLK_OE(USBC_XCLK_OE)
);
defparam MSS_ADLIB_INST.INIT=1438'h00000000003612000000000000000036100080000000000000000000000000000000000000000000000000000000000001203610000000000000000000000000000000000000000F00000000F000000000000000000000000000000007FFFFFFFB000001007C33C804000006092C0000003FFFFE4000000000020100000000F0F01C000001825F04010842108421000001FE34001FF8000000400000000020091007FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.ACT_UBITS=56'hFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.MEMORYFILE="ENVM_init.mem";
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_FREQ=0.0;
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_MODE="";
defparam MSS_ADLIB_INST.DDR_CLK_FREQ=100.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sb_sb_MSS */

module sb_sb (
  SPI_DATASTORAGE_SS0,
  SPI_DATASTORAGE_DO,
  SPI_DATASTORAGE_DI,
  SPI_DATASTORAGE_CLK,
  TM_TX,
  TM_RX,
  DAPI_TX,
  DAPI_RX,
  LED_HEARTBEAT_c,
  LED_RECORDING_c,
  SODS_c
)
;
inout SPI_DATASTORAGE_SS0 /* synthesis syn_tristate = 1 */ ;
output SPI_DATASTORAGE_DO ;
input SPI_DATASTORAGE_DI ;
inout SPI_DATASTORAGE_CLK /* synthesis syn_tristate = 1 */ ;
output TM_TX ;
input TM_RX ;
output DAPI_TX ;
input DAPI_RX ;
output LED_HEARTBEAT_c ;
output LED_RECORDING_c ;
input SODS_c ;
wire SPI_DATASTORAGE_SS0 ;
wire SPI_DATASTORAGE_DO ;
wire SPI_DATASTORAGE_DI ;
wire SPI_DATASTORAGE_CLK ;
wire TM_TX ;
wire TM_RX ;
wire DAPI_TX ;
wire DAPI_RX ;
wire LED_HEARTBEAT_c ;
wire LED_RECORDING_c ;
wire SODS_c ;
wire [15:12] STAMP_PADDRS;
wire [31:0] sb_sb_0_STAMP_PRDATA;
wire [31:0] sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA;
wire FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FIC_0_LOCK ;
wire FIC_0_CLK ;
wire sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx ;
wire iPRDATA_0_sqmuxa_i ;
wire GND ;
wire VCC ;
// @22:504
  sb_sb_CCC_0_FCCC CCC_0 (
	.FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.FIC_0_LOCK(FIC_0_LOCK),
	.FIC_0_CLK(FIC_0_CLK)
);
// @22:513
  CoreAPB3 CoreAPB3_0 (
	.STAMP_PADDRS(STAMP_PADDRS[15:12]),
	.sb_sb_0_STAMP_PRDATA(sb_sb_0_STAMP_PRDATA[31:0]),
	.sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[31:0]),
	.sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx),
	.iPRDATA_0_sqmuxa_i(iPRDATA_0_sqmuxa_i)
);
// @22:737
  sb_sb_FABOSC_0_OSC FABOSC_0 (
	.FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(FABOSC_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
// @22:750
  sb_sb_MSS sb_sb_MSS_0 (
	.sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PRDATA[31:0]),
	.sb_sb_0_STAMP_PRDATA(sb_sb_0_STAMP_PRDATA[31:0]),
	.STAMP_PADDRS(STAMP_PADDRS[15:12]),
	.FIC_0_CLK(FIC_0_CLK),
	.SODS_c(SODS_c),
	.FIC_0_LOCK(FIC_0_LOCK),
	.iPRDATA_0_sqmuxa_i(iPRDATA_0_sqmuxa_i),
	.sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx(sb_sb_MSS_TMP_0_FIC_0_APB_MASTER_PSELx),
	.LED_RECORDING_c(LED_RECORDING_c),
	.LED_HEARTBEAT_c(LED_HEARTBEAT_c),
	.DAPI_RX(DAPI_RX),
	.DAPI_TX(DAPI_TX),
	.TM_RX(TM_RX),
	.TM_TX(TM_TX),
	.SPI_DATASTORAGE_CLK(SPI_DATASTORAGE_CLK),
	.SPI_DATASTORAGE_DI(SPI_DATASTORAGE_DI),
	.SPI_DATASTORAGE_DO(SPI_DATASTORAGE_DO),
	.SPI_DATASTORAGE_SS0(SPI_DATASTORAGE_SS0)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sb_sb */

module sb (
  DAPI_RX,
  DEVRST_N,
  SODS,
  SPI_DATASTORAGE_DI,
  TM_RX,
  ready_dms1,
  ready_dms2,
  ready_temp,
  spi_miso,
  DAPI_TX,
  LED_HEARTBEAT,
  LED_RECORDING,
  SPI_DATASTORAGE_DO,
  TM_TX,
  spi_clock,
  spi_dms1_cs,
  spi_dms2_cs,
  spi_mosi,
  spi_temp_cs,
  SPI_DATASTORAGE_CLK,
  SPI_DATASTORAGE_SS0
)
;
input DAPI_RX ;
input DEVRST_N ;
input SODS ;
input SPI_DATASTORAGE_DI ;
input TM_RX ;
input ready_dms1 ;
input ready_dms2 ;
input ready_temp ;
input spi_miso ;
output DAPI_TX /* synthesis syn_tristate = 1 */ ;
output LED_HEARTBEAT ;
output LED_RECORDING ;
output SPI_DATASTORAGE_DO /* synthesis syn_tristate = 1 */ ;
output TM_TX /* synthesis syn_tristate = 1 */ ;
output spi_clock ;
output spi_dms1_cs ;
output spi_dms2_cs ;
output spi_mosi ;
output spi_temp_cs ;
inout SPI_DATASTORAGE_CLK /* synthesis syn_tristate = 1 */ ;
inout SPI_DATASTORAGE_SS0 /* synthesis syn_tristate = 1 */ ;
wire DAPI_RX ;
wire DEVRST_N ;
wire SODS ;
wire SPI_DATASTORAGE_DI ;
wire TM_RX ;
wire ready_dms1 ;
wire ready_dms2 ;
wire ready_temp ;
wire spi_miso ;
wire DAPI_TX ;
wire LED_HEARTBEAT ;
wire LED_RECORDING ;
wire SPI_DATASTORAGE_DO ;
wire TM_TX ;
wire spi_clock ;
wire spi_dms1_cs ;
wire spi_dms2_cs ;
wire spi_mosi ;
wire spi_temp_cs ;
wire SPI_DATASTORAGE_CLK ;
wire SPI_DATASTORAGE_SS0 ;
wire VCC ;
wire GND ;
wire SODS_c ;
wire LED_HEARTBEAT_c ;
wire LED_RECORDING_c ;
// @23:23
  INBUF SODS_ibuf (
	.Y(SODS_c),
	.PAD(SODS)
);
// @23:32
  OUTBUF LED_HEARTBEAT_obuf (
	.PAD(LED_HEARTBEAT),
	.D(LED_HEARTBEAT_c)
);
// @23:33
  OUTBUF LED_RECORDING_obuf (
	.PAD(LED_RECORDING),
	.D(LED_RECORDING_c)
);
// @23:36
  OUTBUF spi_clock_obuf (
	.PAD(spi_clock),
	.D(GND)
);
// @23:37
  OUTBUF spi_dms1_cs_obuf (
	.PAD(spi_dms1_cs),
	.D(GND)
);
// @23:38
  OUTBUF spi_dms2_cs_obuf (
	.PAD(spi_dms2_cs),
	.D(GND)
);
// @23:39
  OUTBUF spi_mosi_obuf (
	.PAD(spi_mosi),
	.D(GND)
);
// @23:40
  OUTBUF spi_temp_cs_obuf (
	.PAD(spi_temp_cs),
	.D(GND)
);
// @23:230
  sb_sb sb_sb_0 (
	.SPI_DATASTORAGE_SS0(SPI_DATASTORAGE_SS0),
	.SPI_DATASTORAGE_DO(SPI_DATASTORAGE_DO),
	.SPI_DATASTORAGE_DI(SPI_DATASTORAGE_DI),
	.SPI_DATASTORAGE_CLK(SPI_DATASTORAGE_CLK),
	.TM_TX(TM_TX),
	.TM_RX(TM_RX),
	.DAPI_TX(DAPI_TX),
	.DAPI_RX(DAPI_RX),
	.LED_HEARTBEAT_c(LED_HEARTBEAT_c),
	.LED_RECORDING_c(LED_RECORDING_c),
	.SODS_c(SODS_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sb */

